.nm{color: aliceblue; font-size: medium;}
body{background-image: url(./331c9c6f-f9c0-4081-9e1a-7e0c1f06c701.jpeg);}
.mm{background-color:gold;height: 2cm;font-size:55px;color: rgb(255, 255, 255);
font-family: 'Times New Roman', Times, serif;}
.btn{border-style: groove;background-color: bisque;font-family: 'Times New Roman', Times, serif;font-size: 15px;}